
.navlist{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgb(29, 31, 159) 0%, rgb(14, 77, 100) 100.2% );
    background-size: cover;
    min-height: 600px;
    z-index: 10;
    transition: transform .5s ease;
}
.option{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:     clamp(2rem, -1.5rem + 8vw, 4rem);
    font-weight: 900;
    font-family: fangsong;
    color: white;
    margin: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.option:hover{
    text-decoration: underline black;
}

